body{
	font-family: 'Work Sans', sans-serif;
	background-color: hsl(40.00000000000019,8.108108108108153%,92.74509803921569%);
	font-size: calc(12px + .5vw);
}

#sitename{
	font-family: 'Yeseva One', cursive;
	padding-top: 10vh;
	font-size: calc(20px + 2vw);
	text-align: center;
}

.nav1 ul{
	list-style-type: none;
	display: inline;
}

.nav2 ul{
	list-style-type: none;
	display: inline;
}

nav li{
	display: inline;
	padding: 1vh 2vw  0 0;
}

.menu a:link{
	text-decoration: none;
	color: black;
}

.menu a:visited{
	text-decoration: none;
	color: black;
}

.menu a:hover{
	text-decoration: none;
	color: black;
}

.menu a:active{
	text-decoration: none;
	color: black;
}

/*Hamburger Menu*/
/*.menu-icon {
  font-size: 28px;
  cursor: pointer;
  display: none;
  font-size: 2rem;
  cursor: pointer;
}*/

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  font-size: 16px;
}

/*@media only screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }*/
/*  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 10px;
  }*/
  .menu li {
    margin: 10px 0;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #333;
  color: #fff;
}

.head{
	display:block;
	margin: 1vh auto;
	padding: 2vh 0.5vw;
	width: 50%;
	border: none;
	background-color: black;
	color: white;
	text-align: center;
}

.head{
	display:block;
	margin: 1vh auto;
	padding: 2vh 0.5vw;
	width: 50%;
	border: none;
	background-color: black;
	color: white;
	text-align: center;
}

a:link{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: none;
	color: black;
}

a:active{
	text-decoration: none;
	color: black;
}

.contact{
	display:block;
	margin: 1vh auto;
	padding: 2vh 0.5vw;
	width: 30%;
	border: solid black;
	background-color: white;
	color: black;
	text-align: center;
}

.contactform {
	width: 70%;
}

footer{
	padding-top: 10vh;
	font-size: calc( 5px + .5vw);
	text-align: center;
}