body{
	font-family: 'Work Sans', sans-serif;
}

#sitename, #tagline, #typeit{
	font-family: 'Yeseva One', cursive;
}

#sitename{
	margin-top: 20vh;
	font-size: calc(40px + 2vw);
	text-align: center;
	display: inline;
}

#tagline{
	font-size: calc(15px + 2vw);
	text-align: center;
}

#typeit {
	font-size: calc(15px + 2vw);
	text-align: center;	
}

#cta{
	padding-top: 5vh;
	padding-bottom: 5vh;
	font-size: calc(5px + 1.5vw);
	text-align: center;
}

button{ 
	font-family: 'Cormorant Garamond', serif;
	font-size: calc(10px + 2vw);
	margin-left: 40%;
	margin-right: 40%;
	width: 20vw;
	height: 15vh;
}

footer{
	padding-top: 20vh;
	font-size: calc( 5px + .5vw);
	text-align: center;
}