body{
	font-family: 'Work Sans', sans-serif;
	background-color: hsl(40.00000000000019,8.108108108108153%,92.74509803921569%);
	font-size: calc(6px + 1vw);
	color: #4C4E52;
}

#sitename{
	font-family: 'Yeseva One', cursive;
	padding-top: 5vh;
	font-size: calc(20px + 2vw);
	text-align: center;
}

#subhead{
	font-family: 'Yeseva One', cursive;
	font-size: calc(2px + 2vw);
	text-align: center;
}

nav li{
	display: inline;
	padding: 1vh 2vw  0 0;
}

.menu a:link{
	text-decoration: none;
	color: #4C4E52;
}

.menu a:visited{
	text-decoration: none;
	color: #4C4E52;
}

.menu a:hover{
	text-decoration: none;
	color: #4C4E52;
}

.menu a:active{
	text-decoration: none;
	color: #4C4E52;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  font-size: calc(6px + 1vw);
}

.menu li {
  margin: 10px 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #333;
  color: #fff;
}

.head{
	display:block;
	margin: 1vh auto;
	padding: .5vh 0.5vw;
	width: 50%;
	border: none;
	background-color: black;
	color: white;
	text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 5vh 5vw 5vw;
  max-width: 70%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1vw;
  padding: 1vw;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 1vw;
}

img {
  width: 100%;
  height: auto;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

@media screen and (max-width: 767px) {
  .gallery {
	  display: block;
	  justify-content: center;
	  align-items: center;
	  padding: 0 5vh 5vw 5vw;
	 	max-width: 100%;
  	margin: 0 auto;
	}

	.row {
	  display: block;
	  flex-wrap: wrap;
	  margin: 0 -1vw;
	  padding: 0;
	}

	.column {
		  flex: 0;
		  max-width: 100;
		  padding: 0;
		  max-width: 75%;
		  margin: 0 auto;
		}

	img {
	  width: 100%;
	  height: auto;
	  -webkit-filter: drop-shadow(5px 5px 5px #222);
		filter: drop-shadow(5px 5px 5px #222);
		padding: 2vh 0;
	}
}

footer{
	padding-top: 10vh;
	font-size: calc( 2px + 1vw);
	text-align: center;
}