body{
	font-family: 'Work Sans', sans-serif;
	background-color: hsl(40.00000000000019,8.108108108108153%,92.74509803921569%);
}

/*.logo {
	display: inline;
}*/

#sitename{
	font-family: 'Yeseva One', cursive;
	padding-top: 10vh;
	font-size: calc(20px + 2vw);
	padding-left: 3vw;
	text-align: center;
}

.nav1 ul{
	list-style-type: none;
	display: inline;
}

.nav2 ul{
	list-style-type: none;
	display: inline;
}

nav li{
	display: inline;
	padding: 1vh 1vw;
}

.menu a:link{
	text-decoration: none;
	color: black;
}

.menu a:visited{
	text-decoration: none;
	color: black;
}

.menu a:hover{
	text-decoration: none;
	color: black;
}

.menu a:active{
	text-decoration: none;
	color: black;
}

/*Hamburger Menu*/
/*.menu-icon {
  font-size: 28px;
  cursor: pointer;
  display: none;
  font-size: 2rem;
  cursor: pointer;
}*/

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  font-size: 16px;
}

/*@media only screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }*/
/*  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 10px;
  }*/
  .menu li {
    margin: 10px 0;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #333;
  color: #fff;
}

.head{
	display:block;
	margin: 1vh auto;
	padding: 2vh 0.5vw;
	width: 50%;
	border: none;
	background-color: black;
	color: white;
	text-align: center;
}

/*.links1 {
	width: 49%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10vh;
}

.links2 {
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5vh;
}*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 10px;
}

img {
  width: 100%;
  height: auto;
}

.button{
	padding: 2vw;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
	padding-bottom: 10vh;
}

.gallery{
	padding: 0 5vw;
}

/*.button1, .button2, .button3, .button4, .button5{
	display:inline;
	padding: 1vh 1vw;
	border: none;
	color: black;
}*/

footer{
	padding-top: 20vh;
	font-size: calc( 5px + .5vw);
	text-align: center;
}