body{
	font-family: 'Work Sans', sans-serif;
	background-color: hsl(40.00000000000019,8.108108108108153%,92.74509803921569%);
	font-size: calc(6px + 1vw);
	color: #4C4E52;
}

/*.logo {
	display: inline;
}*/


#sitename{
	font-family: 'Yeseva One', cursive;
	padding-top: 5vh;
	font-size: calc(20px + 2vw);
	text-align: center;
}

#subhead{
	font-family: 'Yeseva One', cursive;
	font-size: calc(2px + 2vw);
	text-align: center;
}

nav li{
	display: inline;
	padding: 1vh 2vw  0 0;
}

.menu a:link{
	text-decoration: none;
	color: #4C4E52;
}

.menu a:visited{
	text-decoration: none;
	color: #4C4E52;
}

.menu a:hover{
	text-decoration: none;
	color: #4C4E52;
}

.menu a:active{
	text-decoration: none;
	color: #4C4E52;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  font-size: calc(6px + 1vw);
}

.menu li {
  margin: 10px 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #333;
  color: #fff;
}

.head{
	display:block;
	margin: 1vh auto;
	padding: .5vh 0.5vw;
	width: 50%;
	border: none;
	background-color: black;
	color: white;
	text-align: center;
}

.back {
	text-decoration: none;
	color: #4C4E52;
	display: block;
	text-align: right;
	padding-right: 10vw;
}

@media screen and (max-width: 767px) {
  .back{
  	display: none;
  }
}

.logo{
	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	max-width: 20%;
}

/*text styling*/
.head{
	display:block;
	margin: 1vh auto;
	padding: 2vh 0.5vw;
	width: 50%;
	border: none;
	background-color: black;
	color: white;
	text-align: center;
}

.description{
	padding-top: 3vh;
	padding-bottom: 1vh;
	text-align: center;
}

#credit{
	font-size: calc(5px + 1vw);
}

/*image styling and placing*/
/*#ad1, #ad2, #ad3, #ad5, #ad6, #ad7{
	width: 25%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
	padding-bottom: 10vh;
}*/

.magazine{
	min-width: 60vw;
	max-width: 90%;
	min-height: 97vh;
	max-height: 98vh;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

.caption{
	text-align: center;
	font-size: calc(4px + 1vw);
	padding-top: 7vh;
}

.ads {
	max-width: 90%;
	max-height: 98vh;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
	padding-top: 5vh;
}

#withcaption{
	padding-top: 1vh;
}

#ad{
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.figma{
	max-width: 90%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.phonescontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.phones {
  display: flex;
  max-width: 40%;
  max-height: 100vh;
  height: auto;
  padding-left: 2vw;
/*  padding-top: 5vh;*/
}

#rightphone{
	padding-left: 2vw;
}

.productscontainer{
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.products{
	display: flex;
  max-width: 40%;
  max-height: 100vh;
  height: auto;
  padding-left: 2vw;
}

/*image link hover effect*/
a img:hover{
 -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0, 0.67);
-moz-box-shadow:    0px 0px 30px 0px rgba(0,0,0, 0.67);
box-shadow:         0px 0px 30px 0px rgba(0,0,0, 0.67);
}
a img:last-of-type:hover{
 -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0, 0.67);
-moz-box-shadow:    0px 0px 30px 0px rgba(0,0,0, 0.67);
box-shadow:         0px 0px 30px 0px rgba(0,0,0, 0.67);
}

/*bottom links styling*/
.morelinks {
	text-align: right;
	padding-right: 15vw;
	padding-top: 10vh;
}

.morelinks a {
	color: #4C4E52;
}

footer{
	padding-top: 10vh;
	font-size: calc( 2px + 1vw);
	text-align: center;
}