body{
	font-family: 'Work Sans', sans-serif;
	font-size: calc(3px + 1vw);
}

#sitename, #tagline{
	font-family: 'Cormorant Garamond', serif;
	margin-left: 3vw;
}

#sitename{
	margin-top: 2vh;
	font-size: calc(20px + 2vw);
}

#tagline{
	font-size: calc(5px + 2vw);
}

/*navigation styling*/
nav ul{
	list-style-type: none;
}

nav li{
	display: inline;
	padding: 1vh 1vw;
}

.current{
	text-decoration: underline;
}

nav a:link{
	text-decoration: none;
	color: black;
}

nav a:visited{
	text-decoration: none;
	color: black;
}

nav a:hover{
	text-decoration: none;
	color: black;
}

nav a:active{
	text-decoration: none;
	color: black;
}

.back {
	text-decoration: none;
	color: black;
	display: block;
	text-align: right;
	padding-right: 10vw;
}

.logo{
	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	width: 10%;
}

/*text styling*/
.head{
	display:block;
	margin: 1vh auto;
	padding: 2vh 0.5vw;
	width: 50%;
	border: none;
	background-color: black;
	color: white;
	text-align: center;
}

.description{
	padding-top: 3vh;
	padding-bottom: 1vh;
	text-align: center;
}

/*image styling and placing*/
#ad1, #ad2, #ad3, #ad5, #ad6, #ad7{
	width: 25%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
	padding-bottom: 10vh;
}

#ad4 {
	width: 75%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
	padding-bottom: 10vh;
}

#ad{
	width: 300px;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.gifs{
	display: inline;
	padding: 0 5vw;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
	padding-bottom: 10vh;
}

#gifscontainer{
	width: 85%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

/*image link hover effect*/
a img:hover{
 -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0, 0.67);
-moz-box-shadow:    0px 0px 30px 0px rgba(0,0,0, 0.67);
box-shadow:         0px 0px 30px 0px rgba(0,0,0, 0.67);
}
a img:last-of-type:hover{
 -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0, 0.67);
-moz-box-shadow:    0px 0px 30px 0px rgba(0,0,0, 0.67);
box-shadow:         0px 0px 30px 0px rgba(0,0,0, 0.67);
}

/*bottom links styling*/
.morelinks {
	text-align: right;
	padding-right: 15vw;
}

.morelinks a {
	color: black;
}

footer{
	padding-top: 20vh;
	font-size: calc( 5px + .5vw);
	text-align: center;
}