body{
	font-family: 'Work Sans', sans-serif;
	background-color: hsl(40.00000000000019,8.108108108108153%,92.74509803921569%);
	font-size: calc(12px + .5vw);
}

/*.logo {
	display: inline;
}*/

#sitename{
	font-family: 'Yeseva One', cursive;
	padding-top: 10vh;
	font-size: calc(20px + 2vw);
	padding-left: 3vw;
	text-align: center;
}

.nav1 ul{
	list-style-type: none;
	display: inline;
}

.nav2 ul{
	list-style-type: none;
	display: inline;
}

nav li{
	display: inline;
	padding: 1vh 1vw;
}

.menu a:link{
	text-decoration: none;
	color: black;
}

.menu a:visited{
	text-decoration: none;
	color: black;
}

.menu a:hover{
	text-decoration: none;
	color: black;
}

.menu a:active{
	text-decoration: none;
	color: black;
}

/*Hamburger Menu*/
/*.menu-icon {
  font-size: 28px;
  cursor: pointer;
  display: none;
  font-size: 2rem;
  cursor: pointer;
}*/

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  font-size: 16px;
}

/*@media only screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }*/
/*  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 10px;
  }*/
  .menu li {
    margin: 10px 0;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #333;
  color: #fff;
}

.head{
	display:block;
	margin: 1vh auto;
	padding: 2vh 0.5vw;
	width: 50%;
	border: none;
	background-color: black;
	color: white;
	text-align: center;
}

.back {
	text-decoration: none;
	color: black;
	display: block;
	text-align: right;
	padding-right: 10vw;
}

@media screen and (max-width: 767px) {
  .back{
  	display: none;
  }
}

.logo{
	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	max-width: 20%;
}

/*text styling*/
.head{
	display:block;
	margin: 1vh auto;
	padding: 2vh 0.5vw;
	width: 50%;
	border: none;
	background-color: black;
	color: white;
	text-align: center;
}

.description{
	padding-top: 3vh;
	padding-bottom: 1vh;
	text-align: center;
}

#credit{
	font-size: calc(10px + .5vw);
}

/*image styling and placing*/
/*#ad1, #ad2, #ad3, #ad5, #ad6, #ad7{
	width: 25%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
	padding-bottom: 10vh;
}*/

.ads {
	max-width: 90%;
	max-height: 100vh;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
	padding-top: 5vh;
}

#ad{
	width: 300px;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.figma{
	max-width: 90%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

/*.gifs{
	display: inline;
	padding: 0 5vw;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
	padding-bottom: 10vh;
}

#gifscontainer{
	width: 85%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
*/
/*#phones{
	width: 85%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.phones{
	width: 35%;
	padding-left: 5vw;
	padding-right: 5vh;
}*/

#phones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.phones {
  max-width: 90%;
  max-height: 100vh;
  height: auto;
  padding-top: 5vh;
}

/*image link hover effect*/
a img:hover{
 -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0, 0.67);
-moz-box-shadow:    0px 0px 30px 0px rgba(0,0,0, 0.67);
box-shadow:         0px 0px 30px 0px rgba(0,0,0, 0.67);
}
a img:last-of-type:hover{
 -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0, 0.67);
-moz-box-shadow:    0px 0px 30px 0px rgba(0,0,0, 0.67);
box-shadow:         0px 0px 30px 0px rgba(0,0,0, 0.67);
}

/*bottom links styling*/
.morelinks {
	text-align: right;
	padding-right: 15vw;
	padding-top: 10vh;
}

.morelinks a {
	color: black;
}

footer{
	padding-top: 10vh;
	font-size: calc( 5px + .5vw);
	text-align: center;
}